/* UNIVERSAL STYLES */

/* Figtree weights: 300 Light, 400 Regular, 700 Bold, 900 Black */
/* Orbitron weights: 400 Regular, 700 Bold, 900 Black*/

html {
    scroll-behavior: smooth
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Figtree', sans-serif;
    text-transform: uppercase;
    font-size: 11pt;
}

p,
li,
ul,
ol {
    font-family: 'Figtree', sans-serif;
    list-style: none;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: 'Orbitron', sans-serif;
}

.button {
    display: flex;
    align-content: center;
    padding: 1rem;
    background: rgb(0, 38, 162);
    width: fit-content;
    margin: .6rem 0rem;
    border-radius: 20px;
    transition: all .3s ease-out;

}

.button:hover {
    color: white;
    background: rgb(45, 85, 233);
    transition: all .3s ease-out;
}

.btt {
    cursor: pointer;
}

h1 {
    font-size: 50pt;
    max-width: 70%;
    text-align: left;
}

strong {
    color: transparent;
    background-image: linear-gradient(180deg, rgba(175, 193, 255, 1) 5%, rgba(177, 255, 209, 1) 100%);
    background-clip: text;
}

/* HEADER NAV */

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(0, 9, 40);
    background: linear-gradient(180deg, rgba(0, 9, 40, 1) 5%, rgba(7, 17, 70, 0) 100%);
    position: fixed;
    width: 100%;
    z-index: 1;

    ul {
        display: flex;
        gap: 6rem;
        padding-right: 2rem;
        align-items: center;
    }

    a {
        transition: all .3s ease-out;
    }

    a:hover {
        transition: all .3s ease-out;
        color: rgb(30, 127, 255);
    }

    .button a:hover {
            transition: all .3s ease-out;
            color: black;
    }
}

.logo {
    max-width: 12vw;
}

li {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-transform: uppercase;
    padding-right: 1rem;
}

/* SECTION 1 */

.section-1 {
    background-image: url(./img/header-bg.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    height: 100vh;
    z-index: -1;
    padding-top: 5rem;

    h1 {
        position: absolute;
        bottom: 100px;
        left: 60px;
        z-index: 1;
    }

    img {
        position: absolute;
        right: 150px;
        top: 80px;
        height: fit-content;
        padding: 1rem;
        width: 800px;
        height: 500px;
        align-items: center;
    }
}

.section-2 {
    background-image: url('./img/section-2-bg.png');
    background-size: cover;
    height: 60vh;
}

.section-middle {
    background-color:rgba(234, 234, 234, 0.853);
    color: black;
    max-width: 50vw;
    padding: 2rem;
    text-align: center;
    position: absolute;
    right: 50vh;
    top: 140vh;
    border-radius: 25px;

    h2 {
        text-transform: uppercase;
    }

    p {
        padding: 2rem 0rem;
    }

    a {
        display: inline-flex;
        align-content: center;
    }

}

.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    padding: 20rem 6rem 8rem 6rem;

    h2 {
        padding-bottom: 2.5rem;
    }

    img {
        min-width: 40vw;
    }
}

.section-4 {
    padding: 5rem 6rem;
    background-image: url(./img/header-bg.jpg);

    h2 {
        text-align: center;
        padding-bottom: 6rem;
    }
}

.work-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    text-align: left;
    padding-bottom: 7rem;


    .work-item {
        text-align: left;
        padding: 2rem;
        box-shadow: 2px 2px 20px #00000089;
        transition: all .3s ease-out;
    }

    .work-item:hover {
        transform: scale(1.06);
        transition: all .3s ease-out;
    }

    .work-item-one {
        background-image: url(./img/agent.png);
        background-size: cover;
    }

    .work-item-two {
        background-image: url(./img/rehab.png);
        background-size: cover;
    }

    .work-item-three {
        background-image: url(./img/engineering.png);
        background-size: cover;
    }

    .work-item-four {
        background-image: url(./img/research.png);
        background-size: cover;
    }

    .work-item p {
        padding: 1rem 0rem;
        font-size: 11pt;
    }
}

.work-item .button {
    display: block !important;
}


.section-5 {
    background-color: rgb(16, 16, 61);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: space-between;
    padding: 5rem 6rem;

    h2 {
        padding-bottom: 2rem;
    }
}

iframe {
    min-width: 800px;
    min-height: 500px;

}

.interior-section-grid-text {
    padding-top: 3rem;
    display: flex;
    gap: 3rem;

    p {
        font-size: 9pt;
        font-style: italic;
    }
}

/* FOOTER */
footer {
    display: grid;
    grid-template-columns: 1.3fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    width: 100%;
    font-size: 10pt;

    ul {
        display: flex;
        gap: 6rem;
        align-items: center;
    }

    li {
        grid-template-columns: 1.3fr 1fr 1fr;
        gap: 1rem;
        text-transform: uppercase;
        padding-right: 1rem;

    }
}