/* UNIVERSAL STYLES */

/* Figtree weights: 300 Light, 400 Regular, 700 Bold, 900 Black */

body {
    background-color: rgb(49, 40, 65);
    font-family: 'Figtree', sans-serif;
    margin: 2rem;
}

p,
b,
h1,
h2,
h3,
ol,
ul,
li, a {
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.organism {
    padding: 2rem 0rem;
}

.org-captions {
    padding: 2rem 0rem;
    color:  rgb(255, 205, 246);
}

h2 {
    text-transform: uppercase;
    font-weight: 700;
}

h3 {
    font-size: 10pt;
}

.button-body,
.button-header {
    text-transform: uppercase;
}

.fa-arrow-right {
    padding-left: 1rem;
}

.fa-arrow-left {
    padding-right: 1rem;
}

.button-back {
    transition: all .4s ease-out;
}

.button-back a:hover {
    transition: all .4s ease-out;
    color: rgb(255, 85, 224);
}

.subSection {
	background-color: #1e142e;
	padding: 2rem;
	margin: 1rem 0rem;
    width:fit-content
}

.subSection h3 {
    padding: .5rem 0rem;
}


/* MOBILE */

/************************ Get in Touch Button *************************/

.button-header {
    padding: 1rem 2rem;
    background-color: rgb(85, 130, 255);
    background-color: linear-gradient(90deg, rgba(255, 85, 224, 1) 0%, rgba(27, 131, 171, 1) 50%, rgba(11, 36, 120, 1) 100%);
    color: white;
    letter-spacing: .0rem;
    transition: all .4s ease-out;
    transition: background-color .4s ease-out;
    transition: letter-spacing .4s ease-out;

}

.button-header:hover {
    background-color: rgb(11, 36, 120);
    background-color: linear-gradient(90deg, rgba(11, 36, 120, 1) 0%, rgba(27, 131, 171, 1) 50%, rgba(255, 85, 224, 1) 100%);
    color: white;
    letter-spacing: .1rem;
    transition: all .4s ease-out;

}

/************************ Article Link *************************/

.article-item {
    position: relative;
    text-align: left;
    color: white;
    padding: 2rem 0rem;
    display: inline-block;
    overflow: hidden;
    transition: all .3s ease-out;
}

.article-text {
    position: absolute;
    bottom: 20px;
    right: -10px;
    padding: 2rem 2rem;
    text-shadow: 1px 1px 8px #000000;
    max-width: 350px;
}

.article-text p {
    font-size: 8pt;
}

.article-text h3 {
    color:#ffffff96
}

/************************ Scope of Services Item *************************/

.sos-item {
    background: rgb(11, 36, 120);
    background: linear-gradient(90deg, rgba(11, 36, 120, 1) 0%, rgb(5, 128, 112) 100%);
    padding: 3rem 3rem;
    position: relative;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    transition: all .3s ease-out;
}

.sos-item:hover {
    transform: scale(1.05);
    transition: all .3s ease-out;
}

.sos-image {
    position: absolute;
    bottom: -9px;
    right: -80px;
    min-width: 300px;
}

.sos-number {
    color: #ffffff96;
    font-size: 8.5pt;
}

.sos-text h2 {
    font-size: 26pt;
}

.sos-text p {
    font-size: 10pt;
    text-shadow: 2px 1px 1px #000000;
    padding-top: 1rem;
}

/************************ Let's Chat Button *************************/

.button-body {
    padding: 1rem 2rem;
    background-color: rgb(85, 215, 255);
    border-radius: 25px;
    transition: all .4s ease-out;
    width:fit-content;
}

.button-body a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all .4s ease-out;
}

.button-body:hover {
    background-color: #661691;
    
}

.button-body a:hover {
    color:white;
    transition: all .4s ease-out;
}

/************************ Client Work *************************/

.work-item {
    position: relative;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    
}

.work-item img {
    transition: all .3s ease-in-out;
}

.work-item img:hover {
        position: relative;
        text-align: left;
        transform:scale(1.1);
        transition: all .3s ease-in-out;
}

.work-item h3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20pt;
    text-shadow: 2px 2px 8px #000000;
    font-weight: 400;
}

.work-item .caption {
    color:#ffffff96;
    text-transform: uppercase;
    font-size: 9pt;
    position: absolute;
    top: 20px;
    left: 20px;
}

/************************ Service Link *************************/

.service-item {
    position: relative;
    text-align: left;
    transition: all .3s ease-out;
}

.service-item:hover {
    transform:scale(0.97);
    transition: all .3s ease-out;
}

.service-item .caption {
    font-size: 100pt;
    font-weight: 900;
    position: absolute;
    top: 10%;
    left: 31%;
    transition: all .3s ease-out;
}


.service-item h2 {
    margin: 2rem 0rem;
    padding: 0rem 1rem;
    text-align: left;
    font-weight: 700;
    letter-spacing: .15rem;
    border-left: medium solid #ffffff96;
}

footer p {
	color:#ffffff96;
	width:100%;
	padding: 3rem 0rem;
    font-size: 8pt;
}

/* MOBILE END */

/* DESKTOP */

@media screen and (min-width: 1000px) {

    h1 {
        font-size: 45pt;
    }

    /*********** Article Link DT ************/
	
    .article-item {
        position: relative;
        text-align: left;
        color: white;
        padding: 2rem 0rem;
        display: inline-block;
        overflow: hidden;
        transition: all .3s ease-out;
        max-width: 800px;
    }
    
    .article-text {
        position: absolute;
        bottom: 30px;
        right: -30px;
        padding: 2rem 2rem;
        text-shadow: 1px 1px 8px #000000;
        max-width: 400px;
    }

    .article-text h3 {
        font-size: 13pt;
    }
    
    .article-text p {
        font-size: 18pt;
    }

    /*********** Scope of Services DT ************/

.sos-item {
    max-width: 500px;
}

/************************ Client Work Item DT *************************/

.work-item {
    width: 600px;
	height: 400px;
	object-fit: cover;
	size:100%;
}

.work-item h3 {
font-size: 27pt;
padding: 0rem 2rem 0rem 1rem;

}

/************************ Service Link DT *************************/

.service-item {
    max-width: 800px;
    display: inline-block;
    overflow: hidden;
}

.service-item .caption {
    font-size: 300pt;
    font-weight: 900;
    position: absolute;
    top: 7px;
    left: -10px;
    transition: all .3s ease-out;
    color:#ffffff6b
}

.service-item:hover {
 transform: scale(0.97);
}
.service-item .caption:hover {
    transform: none;
}

/************************ "Floating" Panel *************************/

.section-middle {
    background-color:rgba(137, 137, 137, 0.853);
    max-width: 50vw;
    padding: 2rem;
    text-align: center;
    /* vvv modify for "floating" centered appearance vvv  */
    /*position: absolute; */
    /*right: 50vh;*/
   /* top: 140vh;*/
    /* ^^^ modify for "floating" centered appearance ^^^ */
    border-radius: 25px;

    h2 {
        text-transform: uppercase;
    }

    p {
        padding: 2rem 0rem;
    }

    a {
        display: inline-flex;
        align-content: center;
    }

}

/************************ Services Row with Image BGs *************************/

.section-4 {
    padding: 5rem 6rem;
    background-image: url(./img/header-bg.jpg);

    h2 {
        text-align: center;
        padding-bottom: 6rem;
    }
}

.skills-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
    text-align: left;
    padding-bottom: 7rem;


    .skills-item {
        text-align: left;
        padding: 2rem;
        box-shadow: 2px 2px 20px #00000089;
        transition: all .3s ease-out;
        border-radius: 16px;
    }

    .skills-item:hover {
        transform: scale(1.06);
        transition: all .3s ease-out;
    }

    .skills-item-one {
        background-image: url(../img/placeholder.jpg);
        background-size: cover;
    }

    .skills-item-two {
        background-image: url(../img/placeholder.jpg);
        background-size: cover;
    }

    .skills-item-three {
        background-image: url(../img/placeholder.jpg);
        background-size: cover;
    }

    .skills-item-four {
        background-image: url(../img/placeholder.jpg);
        background-size: cover;
    }

    .skills-item p {
        padding: 1rem 0rem;
        font-size: 11pt;
    }

}

/************************ Video & Description Highlight *************************/
.section-5 {
    background: rgb(1,7,21);
background: linear-gradient(180deg, rgba(1,7,21,1) 31%, rgba(2,13,45,1) 88%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: space-between;
    padding: 5rem 6rem;

    h2 {
        padding-bottom: 2rem;
    }
}

iframe {
    width: 800px;
    height: 500px;

}

.section-grid-text-interior {
    padding-top: 3rem;
    display: flex;
    gap: 3rem;

    p {
        font-size: 9pt;
        font-style: italic;
    }
}

/************************ Header Navigation Bar w/ Logo *************************/

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgb(0, 9, 40);
    background: linear-gradient(180deg, rgba(0, 9, 40, 1) 5%, rgba(7, 17, 70, 0) 100%);
   /* position: fixed; */
    width: 100%;
    z-index: 1;

    ul {
        display: flex;
        gap: 6rem;
        padding-right: 2rem;
        align-items: center;
    }

    a {
        transition: all .3s ease-out;
    }

    a:hover {
        transition: all .3s ease-out;
        color: rgb(30, 127, 255);
    }

    .button a:hover {
            transition: all .3s ease-out;
            color: black;
    }
}

.logo {
    max-width: 12vw;
}

li {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    text-transform: uppercase;
    padding-right: 1rem;
}

/**************** Two-Column About Section ****************/
.section-3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    padding: 8rem 6rem 8rem 6rem;
    background: rgb(7,18,54);
background: linear-gradient(180deg, rgb(22, 38, 90) 31%, rgba(0,3,12,1) 88%);

    h2 {
        padding-bottom: 2.5rem;
    }

    img {
        min-width: 40vw;
    }
}

}
/* DESKTOP END */